@{
    ViewBag.Title = "Chart";
}

<h2>Student's count by Course</h2>
<div id="barchart" style="width: 900px; height: 500px;"></div>
@section head_scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {

            var url = "@Url.Action("NumberofStudentsInCourses", "Json")";


            jQuery.get(url, function (data,status) {
                var chartData = [["Course","Count"]];
                for (var i in data) {
                    chartData.push([data[i].name, data[i].count]);
                }
                google.charts.setOnLoadCallback(function () {
                    drawChart();
                });

                function drawChart() {

                    var data = google.visualization.arrayToDataTable(chartData);

                    var options = {
                        title: 'Students by Course'
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('barchart'));

                    chart.draw(data, options);
                }

            });
        })


      google.charts.load('current', {'packages':['corechart']});


    </script>
}